body{
  margin: 0;
  padding:0;
   background-image:linear-gradient(pink,violet);
   font-family: sans-serif;
}
 .loginbox{
   width:380px;
   height: 550px;
   background:#000;
   color:#fff;
   top:55%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box:
   }
   h1{
  margin: 0;
  padding: 0 0 20px;
  text-align:center;
  font-size:22px;
   }
 .loginbox p{
   margin: 2px;
   font-weight:bold;
   }
  .loginbox input{
   width:100%;
   margin-bottom: 20px;
}
  .loginbox input[type="text"],input[type="password"]
  { border:none;
    border-bottom: 1px solid white;
     background:transparent;
    outline:none;
    height:40px;
    color:white;
    font-size:16px;
 }
  .loginbox input[type="submit"]
{  border:none;
   outline:none;
   height:40px;
   background:#fb2525;
   color:white;
    font-size:18px;
}
 .loginbox input[type="submit"]:hover
 { cursor:pointer;
   background:#ffc107;
   color:black;
 }
 h2{
  position:absolute;
  bottom:2%;
  left: 40%;
  } 
